<!-- wp:template-part {"slug":"header","area":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","anchor":"blackroll-content","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main id="blackroll-content" class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--60)">
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"div"} /-->
